@import "../valo/valo";

.smartCinema {
	@include valo;	
}

.navigatorButton.v-button {
	width: 100%;	
	text-align: left;
}

.headerbackground {
	background-color:blue;
}

.footerbackground {
	background-color:#033076;
}

.copyrightText {
	color: white;
}


